$body: black;
$text: white;

body{
    box-sizing: border-box;
    background: $body;
    color: $text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.welcome{
    border: 1px solid silver;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 80%;
    height: 60vh;
    background-image: url(./images/cubes.jpg);
    background-repeat: no-repeat;
    background-position-x: left;
    box-shadow: 200px 90px 80px  black inset;



    .nav{
      
        display: flex;
        justify-content: flex-end;
        align-items: top;
        float: right;
        width: 90%;


        ul{
            display: flex;
            gap: 20px;

            li{
                list-style: none;
               
                a{
                    text-decoration: none;
                    color: $text;

                   
                }

                :hover{
                    color: orange;
                    border-bottom: 1px solid orange;
                }
            }

        }
    }

  

    .intro{
        display: flex;
        flex-direction: column;

        h1{
    
            width: 400px;
            height: auto;
            font-family: verdana;
            color: orange;
            display: flex;
            justify-content: flex-end;
        }

        .logos{
            display: flex;
            justify-content: space-around;
            align-items: center;

        }
    }
}